[submodule "vendor/evdev"]
	path = vendor/evdev
	url = git@github.com:BlueLua/evdev.git
[submodule "vendor/timeutil"]
	path = vendor/timeutil
	url = git@github.com:BlueLua/timeutil.git
[submodule "vendor/tty"]
	path = vendor/tty
	url = git@github.com:BlueLua/tty.git
